<p id="notice"><%= notice %></p>

<h1>POST</h1>

<p>
  <strong>Titulo:</strong>
  <%= @post.titulo %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= render 'comments/form'%>

  <h2>Comentarios</h2>

<%= render partial: 'comments/comment', collection: @comments%>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
